{% import "backend/macros.html" as s with context %}
{% import 'backend/form_macros.html' as f with context %}
{% extends s.layout() %}

{% block layout_content %}
<div class="ibox-content m-b-sm border-bottom">
    <div class="p-xs">
        <div class="pull-left m-r-md">
            <i class="fa fa-user text-navy mid-icon"></i>
        </div>
        <h2>Firebase Authentication</h2>
        <span>啟用或停用特定的登入方式。</span>
        {% if last_record_date %}<span class="text-muted small pull-right visible-sm visible-md visible-lg">最後更新：<i class="fa fa-clock-o"></i> {{ print_value(last_record_date) }}</span>{% endif %}
    </div>
</div>
<script src="/static/components/jquery-sortable-lists/jquery-sortable-lists.min.js"></script>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12 visible-xs">
            <h2>{{ s.scaffold_title(route.action) }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ul class="sTree2 listsClass" id="sTree2">
                <li id="item_a" data-module="a">
                    <div>Item a</div>
                </li>
                <li class="sortableListsOpen" id="item_b" data-module="b">
                    <div>Item b</div>
                    <ul class="">
                        <li id="item_b1" data-module="b">
                            <div>Item b1</div>
                        </li>
                        <li id="item_b2" data-module="b">
                            <div><span class="clickable">Item b2 - clickable text</span></div>
                        </li>
                        <li id="item_b3" data-module="b">
                            <div>Item b3</div>
                        </li>
                        <li id="item_b4" data-module="b">
                            <div>Item b4</div>
                        </li>
                        <li id="item_b5" data-module="b">
                            <div>Item b5</div>
                        </li>
                    </ul>
                </li>
                <li class="" id="item_c" data-module="c">
                    <div>Item c - c block disallows inserting items from other blocks</div>
                    <ul class="">
                        <li id="item_c1" data-module="c">
                            <div>Item c1</div>
                        </li>
                        <li id="item_c2" data-module="c">
                            <div>Item c2</div>
                        </li>
                        <li id="item_c3" data-module="c">
                            <div>Item c3</div>
                        </li>
                        <li id="item_c4" data-module="c">
                            <div>Item c4</div>
                        </li>
                        <li id="item_c5" data-module="c">
                            <div>Item c5</div>
                        </li>
                    </ul>
                </li>
                <li class="" id="item_d" data-module="d">
                    <div>Item d</div>
                    <ul class="">
                        <li id="item_d1" data-module="d">
                            <div>Item d1</div>
                        </li>
                        <li id="item_d2" data-module="d">
                            <div>Item d2</div>
                        </li>
                        <li id="item_d3" data-module="d">
                            <div>Item d3</div>
                        </li>
                        <li id="item_d4" data-module="d">
                            <div>Item d4</div>
                        </li>
                        <li id="item_d5" data-module="d">
                            <div>Item d5</div>
                        </li>
                    </ul>
                </li>
                <li class="" id="item_e" data-module="e">
                    <div>Item e</div>
                </li>
                <li class="" id="item_f" data-module="f">
                    <div>Item f</div>
                </li>
            </ul>
        </div>
    </div>

<script type="text/javascript">
var options = {
		placeholderCss: {'background-color': '#ff8'},
		hintCss: {'background-color':'#bbf'},
        onChange: function( cEl )
        {
//            console.log( 'onChange' );
        },
        complete: function( cEl )
        {
//            console.log( 'complete' );
        },
		isAllowed: function( cEl, hint, target )
		{
			// Be carefull if you test some ul/ol elements here.
			// Sometimes ul/ols are dynamically generated and so they have not some attributes as natural ul/ols.
			// Be careful also if the hint is not visible. It has only display none so it is at the previouse place where it was before(excluding first moves before showing).
            var i = 0;
            var target_parent = target;
            var target_deep = 0;
            for (;i<=21;i++){
                if (target_parent.attr("id") == "sTree2"){
                    target_deep = i;
                    break;
                }
                target_parent = target_parent.parent();
            }
            if (target_deep>1){ target_deep = (target_deep - 1) / 2 + 2}else{ target_deep = target_deep + 1}

            var cEl_parent = cEl;
            var cEl_deep = 0;
            i = 0;
            for (;i<=10;i++){
                let cs = "";
                for (var j=0;j<i;j++){
                    cs += " ul li";
                }
                if (cEl_parent.find(cs).length >= 1){
                    cEl_deep = i;
                }
            }
			if( target_deep + cEl_deep > 5)
			{
				hint.css('background-color', '#ff9999');
				return false;
			}
			else
			{
				hint.css('background-color', '#99ff99');
				return true;
			}
		},
		opener: {
            active: true,
            as: 'html',  // if as is not set plugin uses background image
            close: '<i class="material-icons">expand_more</i>',  // or 'fa-minus c3',  // or './imgs/Remove2.png',
            open: '<i class="material-icons">chevron_right</i>',  // or 'fa-plus',  // or'./imgs/Add2.png',
            openerCss: {
                'display': 'inline-block',
                //'width': '18px', 'height': '18px',
                'float': 'left',
                //'background-position': 'center center', 'background-repeat': 'no-repeat',
                'font-size': '1.1em'
            }
		},
		ignoreClass: 'clickable'
	};
	$('#sTree2').sortableLists( options );
</script>
</div>
{% endblock %}