{% extends "backend/form.html" %}
{% block page_header %}{% endblock %}
{% block page_content_without_wrapper %}
    <div class="sidebar-container" style="width: auto; height: 100%;" id="app">
        <ul class="nav nav-tabs navs-1">
            <li class="active"><a data-toggle="tab" href="#tab-stock" aria-expanded="true">產品規格</a></li>
        </ul>

        <div class="tab-content">
            <div id="tab-stock" class="tab-pane active">
                {% if no_record_data %}
                <div class="sidebar-title">
                    <h3>您尚未儲存產品</h3>
                    <small>請先點擊，產品編輯畫面上方的「建立並繼續編輯」進行儲存。</small>
                </div>
                {% endif %}
                {% if no_spec_data %}
                <div class="sidebar-title">
                    <h3>無法取得規格資料</h3>
                    <small>無法取得規格資料，或是規格資料的格式有錯誤，請參考下例範例進行填寫。</small>
                </div>
                <ul style="list-style: none; margin-top: 18px;">
                    <li style="margin-bottom: 10px;">顏色:紅色,綠色,黃色</li>
                    <li style="margin-bottom: 10px;">大小:大,中,小</li>
                    <li style="margin-bottom: 10px;">尺寸:S號,L,M,特大號</li>
                    <li style="margin-bottom: 10px;">重量:300g,500g,600g</li>
                </ul>
                {% endif %}
                {% if has_record %}
                <div class="sidebar-title">
                    <h3>{{ product.title }}</h3>
                    <small>應有 {{ total }} 種規格，目前共有 {{ len_records }} 種。</small>
                    {% if need_update %}下列為需要新增的規格，<br><br><ul>{% for item in need_to_insert_spec_items %}
                        <li>{{ item }}</li>
                    {% endfor %}</ul>
                        <div class="alert alert-warning">
                        注意，規格建立後無法進行刪除，請確認項目的內容是否正確
                        </div>
                        <a href="{{ update_url }}" target="aside_area" class="btn">更新</a>{% endif %}
                </div>
                <ul class="sidebar-list">
                    <li style="border-bottom: none;" v-for="item in spec_p">
                        <div class="small pull-right m-t-xs moment-vue-from-now" :data-vue-from-now="item.modified"></div>
                        <h4 :id="'spec-name-' + item.__key__">{{item.full_name}}</h4>
{#                        <div class="small text-muted m-t-xs">#}
{#                            <a :href="item.url" class="btn brand-bg-color pull-right" style="color: #fff;">詳細</a>#}
{#                        </div>#}
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    (function(page){
        var p = methods.sortByKey([{% for item in spec_records %}{
            "__key__": "{{ print_key(item) }}",
            "full_name": `{{ item.full_name.replace('"', '\"') }}`,
            "url": "{{ uri_action_link('edit', item=item) }}",
            "modified": "{{ print_value(item.modified) }}",
        },{% endfor %}], "full_name");
        page['app'] = new Vue({
            el: '#app',
            data: {
                spec_p: p,
                spec: [],
                out_warehouse: "",
                in_warehouse: ""
            }
        });

        page["replace_spec_data"] = function(data){
            $.map(data, function(item, i){
                item.index = i;
                item.ni_key = item.__key__;
                item.key = item.sku.__key__;
                item.full_name = $("#spec-name-" + item.key).text();
                let is_find = -1;
                for(let j=0;j<page['app'].spec.length;j++){
                    if (page['app'].spec[j].ni_key == item.ni_key){
                        is_find = j;
                    }
                }
                item.modified = methods.convertUITimeTOLocalTime(item.modified.isoformat);

                if (is_find >= 0){
                    page['app'].spec[is_find].modified = item.modified;
                    page['app'].spec[is_find].quantity = item.quantity;
                }else{
                    page['app'].spec.push(item);
                }
            });
            page['app'].spec = methods.sortByKey(page['app'].spec, "full_name");
            methods.refreshMoment();
        };
        page["replace_spec_p_data"] = function(data){
            $.map(data, function(item, i){
                let is_find = -1;
                for(let j=0;j<page['app'].spec_p.length;j++){
                    if (page['app'].spec_p[j].__key__ == item.__key__){
                        is_find = j;
                    }
                }
                item.modified = methods.convertUITimeTOLocalTime(item.modified.isoformat);
                if (is_find >= 0){
                    page['app'].spec_p[is_find].modified = item.modified;
                }else{
                    page['app'].spec_p.push(item);
                }
            });
            page['app'].spec_p = methods.sortByKey(page['app'].spec_p, "spec_full_name");
            methods.refreshMoment();
        };
        {% if has_record %}
        {% endif %}
    })(page);
</script>
{% endblock %}